@keyframes color{
    0% {background-color: rgb(241, 190, 123);} 
    25% {background-color: rgb(231, 179, 119);} 
    50% {background-color: bisque;} 
    75% {background-color: rgb(248, 208, 163);} 
    100% {background-color: burlywood;} 
    }
body{
    background-color:bisque;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

    h1{
    
    color:rgb(179, 136, 79);
    padding:20px;
    animation-duration: 7s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;	
    background-color:rgb(227, 177, 111);
    transition: background 1s linear;
    

    }
    h1:hover{
        background-color: transparent;
    }
      
      @keyframes slidein{
            
        from{
            
            margin-left:100%;
            width:300%;
        }
        to{
            margin-left:0%;
            width:100%;
        }
      }

        p{
            padding:20px;
            font-family:verdana;
            animation-duration: 7s;	
            animation-name: slidein;	
            animation-iteration-count: infinite;
            animation-direction: alternate;	
         }
            @keyframes slidein{
                from{
                    margin-left: 100%;
                    width: 300%;
                }
                to{
                    margin-left: 0%;
                    width:100%;                
                }
            }

        cite{
            font-size: 25px;
            padding:20px;
            color:rgb(199, 152, 90);
            background: rgb(199, 152, 90);
            transition: background 1s linear;
            }
            cite:hover{
                background:rgb(250, 199, 133);
            }

        a{
            font-family:verdana;
            padding:20px;
        }



    